*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.add-card {
    text-align: center;
    padding-top: 4rem;
}
.button_pay {
    padding: 40px;
}
.ratings_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.textratings1 {
    line-height: 0.2rem;
}
.textratings2 {
    font-size: 0.7rem;
}
